<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarot</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div v-if="step == 'inicio'" class="btn">
            <button @click="iniciar()" class="btn-verde">Jogar cartas</button>        
        </div>

        <div v-if="step == 'jogo'" class="cartas">
            <div
            v-for="(carta) in cartas"
            :key="carta.id"
            class="carta"
            :style="{ left: carta.left + 'px' , bottom: carta.bottom + 'px'}"
            >
            Carta {{ carta.id }}
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="script.js"></script>
</body>
</html>