<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarot</title>
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="inicio">
            <h3>Vamos começar! 🔮</h3>
            <p style="text-align: center;">Escolha uma categoria e retire a primeira carta</p>
            <div class='botoes-categorias'>
                <button 
                    @click="categoria = 'familia'" 
                    :class="['btn-opcao', { 'btn-opcao-active': categoria === 'familia' }]">
                    Família
                </button>
                <button 
                    @click="categoria = 'trabalho'" 
                    :class="['btn-opcao', { 'btn-opcao-active': categoria === 'trabalho' }]">
                    Trabalho
                </button>
                <button 
                    @click="categoria = 'amor'" 
                    :class="['btn-opcao', { 'btn-opcao-active': categoria === 'amor' }]">
                    Amor
                </button>
            </div>

            <br>
        </div>

        <div class="cartas">
            <div
                v-for="(carta) in cartas"
                :id="carta.id"
                :key="carta.id"
                class="carta"
                @click="virarCarta(carta.id)"
                :style="{ left: carta.left + 'px' , bottom: carta.bottom + 'px'}"
                >
                Carta {{ carta.id }}
            </div>

            <!-- Modal para exibir a imagem da carta -->
            <transition name="zoom">
                <div v-if="selectedCarta" class="modal" @click="closeModal()">
                    <img :src="getCartaImage(selectedCarta)" alt="Carta" class="modal-img" />
                </div>
            </transition>

            <button @click="reiniciar()" class="btn-reiniciar">Reiniciar </button> 
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="script.js"></script>
</body>
</html>