<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarot</title>
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="inicio">
            <h3>Vamos começar! 🔮</h3>
            <p style="text-align: center;">Escolha uma categoria:</p>
            <div class='botoes-categorias'>
                <button 
                    id="familia"
                    @click="escolherCategoria('familia')" 
                    :class="['btn-opcao', { 'btn-opcao-active': categoria === 'familia' }]">
                    Família 👩‍👩‍👦
                </button>
                <button 
                id="trabalho"
                    @click="escolherCategoria('trabalho')" 
                    :class="['btn-opcao', { 'btn-opcao-active': categoria === 'trabalho' }]">
                    Trabalho 💼
                </button>
                <button 
                id="amor"
                    @click="escolherCategoria('amor')" 
                    :class="['btn-opcao', { 'btn-opcao-active': categoria === 'amor' }]">
                    Amor 💕
                </button>

                <button id='reiniciar' @click="reiniciar()" class="btn-reiniciar">Reiniciar</button> 
            </div>
            <p style="text-align: center;">Retire 3 cartas:</p>
            <br>
        </div>

        <div class="cartas">
            <transition-group name="fade" mode="out-in">
                <div
                    v-for="(carta) in cartas"
                    :id="carta.id"
                    :key="carta.id"
                    class="carta"
                    @click="virarCarta(carta.id)"
                    :style="{ left: carta.left + 'px' , bottom: carta.bottom + 'px'}"
                    >
                    🧙🏻‍♂️
                </div>
            </transition-group>

            <!-- Modal para exibir a imagem da carta -->
            <transition name="zoom">
                <div v-if="selectedCarta" class="modal" @click="closeModal()">
                    <div class="modal-content">
                        <div class="imagem-carta">
                            <img :src="getCartaImage(selectedCarta)" alt="Carta" class="modal-imagem" />
                        </div>
    
                        <div class="descricao">
                            <div class="nome">
                                <h3>{{ cartaSelecionadaDados.nome }}</h3>
                            </div>
    
                            <div class="texto">
                                <span>{{ cartaSelecionadaDados.mensagem }}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </transition>

        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="script.js"></script>
</body>
</html>