body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.inicio {
    display: flex;
    flex-direction: column;
    gap: 10px
}

h3 {
    text-align: center;
}

/* ================== Botões ================== */
.botoes-categorias {
    justify-content: center;
    display: flex;
    gap: 20px;
}
.btn {
    margin-bottom: 20px;
}

.btn-verde {
    background-color: green;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: larger;
}

.btn-verde:hover,.btn-opcao:hover, .btn-reiniciar {
    filter: brightness(1.3);
}

.btn-opcao {
    background-color: #292929;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size:medium;
}

.btn-opcao-active {
    background-color: #292929;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size:medium;
    border: 2px solid blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.6);
    filter: brightness(1.3);
}

.btn-reiniciar {
    background-color: rgb(68, 70, 76);
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size:small;
    position: fixed;
    bottom: 10px;
}

.btn-disabled {
    background-color: rgb(81, 80, 80); /* Cor de fundo para botão desabilitado */
    color: #ccc; /* Cor do texto para indicar que o botão está desabilitado */
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: larger;
    cursor: not-allowed; /* Cursor indicando que não é interativo */
    opacity: 0.7; /* Leve transparência para dar um aspecto desabilitado */
    transition: background-color 0.3s;
}


/* ================== Cartas ================== */
.cartas {
    position: relative; /* Permite que as cartas usem position: absolute */
    height: 350px;
    width: 940px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-end; /* Alinha as cartas na parte inferior */
}

.carta {
    width: 150px;
    height: 271px;
    background-image: url('carta-verso.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transform: translate(-50%, 0);
}

/* Classe para subir a carta ao passar o mouse */
.carta:hover {
    cursor: pointer;
    transform: translate(-50%, -30px); /* Move a carta 30 pixels para cima e centraliza */
}

@media (max-width: 768px) {
 .cartas{
    width: 100%;
    height: auto;

 }

 .carta {
    width: 100px;
    height: 120px;
 }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-img {
    max-width: 90%; /* Limite a largura da imagem */
    max-height: 90%; /* Limite a altura da imagem */
}

.zoom-enter-active,
.zoom-leave-active {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Tempo da transição */
}

.zoom-enter {
    transform: scale(0.7); /* Escala inicial */
    opacity: 0; /* Opacidade inicial */
}

.zoom-leave-to {
    transform: scale(0.7); /* Escala final */
    opacity: 0; /* Opacidade final */
}